streamlit
langchain
langchain-community
langchain-groq
langgraph
duckduckgo-search==5.3.1
python-dotenv
pandas
sqlalchemy
amadeus
requests
wikipedia
google-auth-oauthlib
google-auth
phonenumbers
bcrypt
streamlit-autorefresh
