streamlit
langchain
langchain-community
langchain-groq
langgraph
duckduckgo-search==6.2.13
curl-cffi==0.7.3
python-dotenv
pandas
sqlalchemy
amadeus
requests
wikipedia
google-auth-oauthlib
google-auth
phonenumbers
bcrypt
streamlit-autorefresh
